In [2]:
pip install pandas

Requirement already satisfied: pandas in ./anaconda3/lib/python3.10/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./anaconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in ./anaconda3/lib/python3.10/site-packages (from pandas) (1.25.2)
Requirement already satisfied: tzdata>=2022.1 in ./anaconda3/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install --upgrade selenium

Requirement already satisfied: selenium in ./anaconda3/lib/python3.10/site-packages (4.13.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in ./anaconda3/lib/python3.10/site-packages (from selenium) (1.26.15)
Requirement already satisfied: trio-websocket~=0.9 in ./anaconda3/lib/python3.10/site-packages (from selenium) (0.10.4)
Requirement already satisfied: trio~=0.17 in ./anaconda3/lib/python3.10/site-packages (from selenium) (0.22.2)
Requirement already satisfied: certifi>=2021.10.8 in ./anaconda3/lib/python3.10/site-packages (from selenium) (2023.7.22)
Requirement already satisfied: sortedcontainers in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in ./anaconda3/lib/python3.10/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in ./anaconda3/lib/python3.10/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in ./anaconda3/lib/python3.10/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [32]:
driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

In [33]:
time.sleep(5)

notificationallow = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div/button")
notificationallow.click()

In [34]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/header[1]/div[3]/div/div/div[1]/div")
search.click()

In [35]:
designation = driver.find_element(By.ID,"id_q")
designation.send_keys('Data Analyst')

location = driver.find_element(By.ID,"id_loc")
location.send_keys('Bangalore')

searchclick = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
searchclick.click()

In [36]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [37]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')

for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
job_title

['Technical Data Analyst',
 'opening data analyst -Bangalore',
 'Data Entry Operator(data analyst work) REMOTE WORK',
 'Hiring For Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Mobility Data Analyst - IN/MKR',
 'Senior Data Analyst',
 'hiring for data entry analyst ( position data entry ) w ...',
 'hiring for data entry analyst ( position data entry ) w ...']

In [38]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
job_location

['Bangalore\n+9', 'Bangalore', 'Bangalore\n+9', '', '', '', '', '', '', '']

In [39]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
#company_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[1]/div[5]/div/div[1]/div[1]/div/div/div[2]/div[1]/div[1]/div[2]/span')

for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
company_name

['krishna consultancy.. hiring for co...',
 'provizor it services pvt. ltd.',
 'prime services..',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [40]:
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)
    
experience_required

['4 to 9 Yrs', '2 to 5 Yrs', '0 to 1 Yr', '', '', '', '', '', '', '']

In [41]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [42]:
# Making Dataframe
df = pd.DataFrame({'job_title':job_title, 'job_location':job_location, 'company_name':company_name, 'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,Technical Data Analyst,Bangalore\n+9,krishna consultancy.. hiring for co...,4 to 9 Yrs
1,opening data analyst -Bangalore,Bangalore,provizor it services pvt. ltd.,2 to 5 Yrs
2,Data Entry Operator(data analyst work) REMOTE ...,Bangalore\n+9,prime services..,0 to 1 Yr
3,Hiring For Data Analyst,,,
4,Senior Data Analyst,,,
5,Data Analyst,,,
6,Mobility Data Analyst - IN/MKR,,,
7,Senior Data Analyst,,,
8,hiring for data entry analyst ( position data ...,,,
9,hiring for data entry analyst ( position data ...,,,

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [44]:
driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

In [45]:
time.sleep(5)

#notificationallow = driver.find_element(By.CLASS_NAME,"btn btn-xs btn-secondary")
notificationallow = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div/button")
notificationallow.click()

In [48]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/header[1]/div[3]/div/div/div[1]/div")
search.click()


time.sleep(10)

designation = driver.find_element(By.ID,"id_q")
designation.send_keys('Data Scientist')

location = driver.find_element(By.ID,"id_loc")
location.send_keys('Bangalore')

searchclick = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
searchclick.click()

In [49]:
job_titles = []
job_locations = []
company_names = []

In [50]:
scientist_title = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')

for i in scientist_title[0:10]:
    title = i.text
    job_titles.append(title)
    
job_titles

['Data Scientist',
 'SR. DATA SCIENTIST',
 'Senior Data Scientist- ML Engineer',
 'Data Scientist III',
 'Data Scientist Hiring Fresher and Experience',
 'Opening for Computer executive, data typing , entry dat ...',
 'Data Scientist',
 'Senior Data Scientist, AWS',
 'Data Scientist Recruitment',
 'Data Engineer II, Amazon WFM Tech Enterprise Data']

In [51]:
scientist_location = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

for i in scientist_location[0:10]:
    location = i.text
    job_locations.append(location)
    
job_locations

['Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+17',
 'Bangalore\n+9',
 'Bangalore\n+6',
 'Bangalore',
 'Bangalore\n+17',
 'Bangalore']

In [52]:
scientist_company = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')

for i in scientist_company[0:10]:
    company = i.text
    company_names.append(company)
    
company_names

['the fashion cosmo',
 'te connectivity india pvt ltd',
 'sap india pvt ltd',
 'inmobi',
 'kavya staffing solutions',
 'realtech solutions',
 'quiscon biotech',
 'amazon',
 'kavya staffing solutions',
 'amazon']

In [56]:
print(len(job_titles),len(job_locations),len(company_names))

10 10 10

In [57]:
# Making Dataframe
df = pd.DataFrame({'job_title':job_titles, 'job_location':job_locations, 'company_name':company_names})
df

,job_title,job_location,company_name
0,Data Scientist,Bangalore,the fashion cosmo
1,SR. DATA SCIENTIST,Bangalore,te connectivity india pvt ltd
2,Senior Data Scientist- ML Engineer,Bangalore,sap india pvt ltd
3,Data Scientist III,Bangalore,inmobi
4,Data Scientist Hiring Fresher and Experience,Bangalore\n+17,kavya staffing solutions
5,"Opening for Computer executive, data typing , ...",Bangalore\n+9,realtech solutions
6,Data Scientist,Bangalore\n+6,quiscon biotech
7,"Senior Data Scientist, AWS",Bangalore,amazon
8,Data Scientist Recruitment,Bangalore\n+17,kavya staffing solutions
9,"Data Engineer II, Amazon WFM Tech Enterprise Data",Bangalore,amazon

In [53]:
scientist_experience = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

for i in scientist_experience[0:10]:
    experience = i.text
    experience_require.append(experience)
    
experience_require

['0 to 4 Yrs',
 '5 to 7 Yrs',
 '5 to 7 Yrs',
 '7 to 9 Yrs',
 '0 to 4 Yrs',
 '0 to 1 Yr',
 '0 to 1 Yr',
 '10 to 12 Yrs',
 '0 to 4 Yrs',
 '3 to 5 Yrs']

# Q3: In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter.

In [59]:
driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

In [60]:
time.sleep(5)

#notificationallow = driver.find_element(By.CLASS_NAME,"btn btn-xs btn-secondary")
notificationallow = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div/button")
notificationallow.click()

In [61]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/header[1]/div[3]/div/div/div[1]/div")
search.click()


time.sleep(10)

designation = driver.find_element(By.ID,"id_q")
designation.send_keys('Data Scientist')

searchclick = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
searchclick.click()

In [78]:
location_filter = driver.find_element(By.XPATH,'//*[@id="__next"]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[1]/button')
location_filter.click()

In [83]:
#select_location = driver.find_element(By.XPATH,'//*[@id="filter_jFLoc_406"]')
#select_location = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[8]/span/input')

select_location = driver.find_element(By.XPATH,'//input[@id="filter_jFLoc_406"]')

#select_location = driver.find_element(By.ID,'filter_jFLoc_406')
select_location.click()

ElementClickInterceptedException: Message: element click intercepted: Element <input class="styled-checkbox" id="filter_jFLoc_406" type="checkbox" name="location" readonly="" value="406"> is not clickable at point (476, 361). Other element would receive the click: <label class="filter_filter_option_label__v_iAW" for="filter_jFLoc_406">...</label>
  (Session info: chrome=117.0.5938.92)
Stacktrace:
#0 0x55b6f758a6b3 <unknown>
#1 0x55b6f72601e7 <unknown>
#2 0x55b6f72ad65d <unknown>
#3 0x55b6f72ab9fd <unknown>
#4 0x55b6f72a97b8 <unknown>
#5 0x55b6f72a8827 <unknown>
#6 0x55b6f729d4f9 <unknown>
#7 0x55b6f72c90c2 <unknown>
#8 0x55b6f729cf16 <unknown>
#9 0x55b6f72c928e <unknown>
#10 0x55b6f72e2322 <unknown>
#11 0x55b6f72c8e93 <unknown>
#12 0x55b6f729b934 <unknown>
#13 0x55b6f729c71e <unknown>
#14 0x55b6f754fcb8 <unknown>
#15 0x55b6f7553bf0 <unknown>
#16 0x55b6f755e19c <unknown>
#17 0x55b6f7554808 <unknown>
#18 0x55b6f752127f <unknown>
#19 0x55b6f7578e88 <unknown>
#20 0x55b6f7579059 <unknown>
#21 0x55b6f7589843 <unknown>
#22 0x7fd572f95609 start_thread

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: a. Brand b. Product Description c. Price d. Discount

In [5]:
driver = webdriver.Chrome()
driver.get("http://www.flipkart.com/")

In [6]:
time.sleep(5)

closepopup = driver.find_element(By.CLASS_NAME,"_30XB9F")
closepopup.click()

searchterms = driver.find_element(By.CLASS_NAME,"Pke_EE")
searchterms.send_keys('sunglasses')

search = driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [7]:
sunglass_brand = []
sunglass_desc = []
sunglass_price = []
sunglass_discount = []

In [8]:
start=0
end=3

for pages in range(start,end):
    brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

    for i in brand:
        brandvalue = i.text
        sunglass_brand.append(brandvalue)
        
    description = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

    for i in description:
        descvalue = i.text
        sunglass_desc.append(descvalue)
        
    price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

    for i in price:
        pricevalue = i.text
        sunglass_price.append(pricevalue)    
    
    discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

    for i in discount:
        brandvalue = i.text
        sunglass_discount.append(brandvalue)
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(15) 

#sunglass_brand
#sunglass_desc
#sunglass_price
#sunglass_discount

['76% off',
 '69% off',
 '88% off',
 '87% off',
 '30% off',
 '30% off',
 '73% off',
 '62% off',
 '75% off',
 '84% off',
 '74% off',
 '69% off',
 '73% off',
 '77% off',
 '86% off',
 '69% off',
 '76% off',
 '69% off',
 '77% off',
 '30% off',
 '70% off',
 '80% off',
 '30% off',
 '30% off',
 '70% off',
 '64% off',
 '69% off',
 '62% off',
 '77% off',
 '30% off',
 '65% off',
 '71% off',
 '60% off',
 '77% off',
 '63% off',
 '67% off',
 '82% off',
 '71% off',
 '88% off',
 '30% off',
 '62% off',
 '64% off',
 '30% off',
 '87% off',
 '88% off',
 '30% off',
 '73% off',
 '65% off',
 '30% off',
 '86% off',
 '72% off',
 '52% off',
 '79% off',
 '84% off',
 '84% off',
 '30% off',
 '73% off',
 '73% off',
 '30% off',
 '78% off',
 '70% off',
 '72% off',
 '70% off',
 '83% off',
 '85% off',
 '79% off',
 '67% off',
 '65% off',
 '79% off',
 '80% off',
 '67% off',
 '67% off',
 '62% off',
 '77% off',
 '90% off',
 '58% off',
 '67% off',
 '67% off',
 '69% off',
 '88% off',
 '76% off',
 '69% off',
 '88% off',
 '87% off',
 '30% off',
 '30% off',
 '73% off',
 '62% off',
 '75% off',
 '84% off',
 '74% off',
 '69% off',
 '73% off',
 '77% off',
 '86% off',
 '69% off',
 '76% off',
 '69% off',
 '77% off',
 '30% off',
 '70% off',
 '69% off',
 '30% off',
 '30% off',
 '70% off',
 '64% off',
 '80% off',
 '62% off',
 '77% off',
 '30% off',
 '65% off',
 '71% off',
 '60% off',
 '77% off',
 '63% off',
 '67% off',
 '77% off',
 '82% off',
 '88% off',
 '30% off']

In [16]:
print(len(sunglass_brand),len(sunglass_desc),len(sunglass_price),len(sunglass_discount))

120 120 120 120

In [17]:
# Making Dataframe
df = pd.DataFrame({'Brand':sunglass_brand, 'Description':sunglass_desc, 'Price':sunglass_price, 'Discount':sunglass_discount})
df = df.head(100)
df

,Brand,Description,Price,Discount
0,VINCENT CHASE,UV Protection Wayfarer Sunglasses (59),₹479,76% off
1,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹609,69% off
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹149,88% off
3,Elligator,"UV Protection Aviator, Wayfarer Sunglasses (54)",₹159,87% off
4,Fastrack,UV Protection Wayfarer Sunglasses (58),₹769,30% off
...,...,...,...,...
95,Rich Club,UV Protection Retro Square Sunglasses (54),₹399,69% off
96,ROYAL SON,Mirrored Aviator Sunglasses (58),₹359,76% off
97,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹609,69% off
98,cleardekho,UV Protection Cat-eye Sunglasses (Free Size),₹374,77% off
99,Fastrack,UV Protection Aviator Sunglasses (58),₹979,30% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

In [4]:
driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [19]:
review_summary = []
product_rating = []
review_description = []

In [20]:
start=0
end=10

for pages in range(start,end):
    rating = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

    for i in rating:
        ratingvalue = i.text
        review_summary.append(ratingvalue)
        
    reviewdesc = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')

    for i in reviewdesc:
        descvalue = i.text
        review_description.append(descvalue)
        
    rating = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

    for i in rating:
        ratingvalue = i.text
        product_rating.append(ratingvalue)

    product_rating

    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(15)

print(len(product_rating), len(review_summary), len(review_description))

100 100 100

In [15]:
print(len(product_rating))

100

In [21]:
# Making Dataframe
df = pd.DataFrame({'Raring':product_rating, 'Review Summary':review_summary, 'Review Desc':review_description})
df

   Raring     Review Summary                      Review Desc
0       5          Brilliant                 Excellent Phone.
1       5          Fabulous!  Super🔥 and good performance 👌❤️
2       5             Super!      Good product 👌I love iPhone
3       5   Perfect product!                       V Good all
4       5      Great product                   Purple is best
..    ...                ...                              ...
95      5     Classy product                     Photos super
96      5          Just wow!                Perfect Product!!
97      5          Must buy!              It’s really awesome
98      5          Wonderful           This is amazing at all
99      5  Terrific purchase                Value for money 😍

[100 rows x 3 columns]

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field

In [19]:
driver = webdriver.Chrome()
driver.get("http://www.flipkart.com/")

In [20]:
time.sleep(5)

closepopup = driver.find_element(By.CLASS_NAME,"_30XB9F")
closepopup.click()

searchterms = driver.find_element(By.CLASS_NAME,"Pke_EE")
searchterms.send_keys('sneakers')

search = driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [21]:
sneaker_brand = []
sneaker_desc = []
sneaker_price = []

In [25]:
start=0
end=3

for pages in range(start,end):
    brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

    for i in brand:
        brandvalue = i.text
        sneaker_brand.append(brandvalue)
        
    description = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

    for i in description:
        descvalue = i.text
        sneaker_desc.append(descvalue)
        
    price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

    for i in price:
        pricevalue = i.text
        sneaker_price.append(pricevalue)    
    
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(15)
    
    
print(len(sneaker_brand),len(sneaker_desc),len(sneaker_price))

240 237 240

In [27]:
# Making Dataframe
df = pd.DataFrame({'Raring':sneaker_brand, 'Review Summary':sneaker_desc, 'Review Desc':sneaker_price})
df = pd.head(100)
df

ValueError: All arrays must be of the same length

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:

Waiting for solution

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.

In [4]:
driver = webdriver.Chrome()
driver.get("https://www.azquotes.com/")

In [5]:
time.sleep(5)

clicktopquotes = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
clicktopquotes.click()

In [6]:
quotearray = []
authorarray = []
quotetypearry = []

In [11]:
start=0
end=9

for pages in range(start,end):
    quotes = driver.find_elements(By.XPATH,'//a[@class="title"]')

    for i in quotes:
        quotevalue = i.text
        quotearray.append(quotevalue)
        
    authors = driver.find_elements(By.XPATH,'//div[@class="author"]')

    for i in authors:
        authorvalue = i.text
        authorarray.append(authorvalue)
        
    types = driver.find_elements(By.XPATH,'//div[@class="tags"]')

    for i in types:
        typevalue = i.text
        quotetypearry.append(typevalue)
    
    next_button = driver.find_element(By.XPATH, '//li[@class="next"]')
    next_button.click()
    time.sleep(15)
    
    
print(len(quotearray),len(authorarray),len(quotetypearry))

1200 1200 1200

In [12]:
# Making Dataframe
df = pd.DataFrame({'Quotes':quotearray, 'Authors':authorarray, 'Type Of Quotes':quotetypearry})
df = df.head(1000)
df

,Quotes,Authors,Type Of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,All things are difficult before they are easy.,Thomas Fuller,"Inspirational, Motivational, Positive"
996,People ask the difference between a leader and...,Theodore Roosevelt,"Leadership, Differences, People"
997,"The thing that is really hard, and really amaz...",Anna Quindlen,"Confidence, Letting Go, Being Yourself"
998,Love is the ability and willingness to allow t...,Wayne Dyer,"Love, Anxiety, Self Improvement"
999,"Sooner or later, those who win are those who t...",Paul Tournier,"Positive, Sports, Confidence"

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.

In [6]:
driver = webdriver.Chrome()
driver.get("https://www.jagranjosh.com/")

In [7]:
clicktogk = driver.find_element(By.XPATH,'//*[@id="__next"]/header/nav/div/div/div[3]/ul/li[3]')
clicktogk.click()

In [8]:
time.sleep(2)
clicktlist = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]')
clicktlist.click()

In [11]:
from bs4 import BeautifulSoup
import requests

page2 = driver.get('https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1')
soup2 = BeautifulSoup(page2.content)
print(soup2.prettify())

#import re
#findtable = soup2.find('table-box') 

#contents = []

# Getting all rows
#for row in findtable.find_all('tr'): 
#    contents.append(re.split('\n', row.text))
    #contents.append(row.text)
    
#contents

NameError: name 'soup2' is not defined

SyntaxError: invalid syntax (2140203645.py, line 1)

In [20]:
authorarray = []

authors = driver.find_elements(By.XPATH,'//div[@class="author"]')

for i in authors:
    authorvalue = i.text
    authorarray.append(authorvalue)
        
authorarray

['Amelia Earhart',
 'Ludwig von Mises',
 'Elizabeth Cady Stanton',
 'Benjamin Spock',
 'Michael Jordan',
 'Charles Kettering',
 'B.K.S. Iyengar',
 'Michael Caine',
 'Billy Graham',
 'Jim Rohn',
 'William Arthur Ward',
 'Thomas A. Edison',
 'Thomas Merton',
 'George Mason',
 'Michael Chang',
 'Jim Rohn',
 'Leo Buscaglia',
 'Richard Harding Davis',
 'Benjamin Franklin',
 'Bob Marley',
 'Friedrich Nietzsche',
 'Larry Eisenberg',
 'Robert A. Heinlein',
 'Pablo Picasso',
 'William Ellery Channing',
 'Confucius',
 'George A. Sheehan',
 'William Arthur Ward',
 'Helen Hayes',
 'Robert W. Service',
 'Henry Wadsworth Longfellow',
 'Bruce Lee',
 'Voltaire',
 'Lewis Carroll',
 'Miles Davis',
 'Jim Morrison',
 'Mark Twain',
 'Malcolm Forbes',
 'Eckhart Tolle',
 'Albert Einstein',
 'Robert E. Cushman, Jr.',
 'Flip Wilson',
 'Claude Bernard',
 'Plato',
 'Franklin D. Roosevelt',
 'Maya Angelou',
 'Vince Lombardi',
 'Willie Nelson',
 'George Washington Carver',
 'Mario',
 'Rabindranath Tagore',
 'Mother Teresa',
 'Jim Rohn',
 'Tony Robbins',
 'Norman Vincent Peale',
 'Franklin D. Roosevelt',
 'Winston Churchill',
 'Steve Jobs',
 'Norman Vincent Peale',
 'John Burroughs',
 'Albert Einstein',
 'Edward R. Murrow',
 'Sam Walton',
 'R. Buckminster Fuller',
 'Loretta Young',
 'Marvin Minsky',
 'Nancy Lopez',
 'Jesse Owens',
 'Jane Austen',
 'Al Neuharth',
 'Lillian Hellman',
 'Nhat Hanh',
 'Daniel J. Boorstin',
 'Judy Garland',
 'Og Mandino',
 'John Bingham',
 'Albert Einstein',
 'William James',
 'Rita Mae Brown',
 'John Dewey',
 'Desmond Tutu',
 'Margaret Thatcher',
 'Eckhart Tolle',
 'Ayn Rand',
 'Calvin Coolidge',
 'Leo Buscaglia',
 'Rumi',
 'Mark Twain',
 'Friedrich Nietzsche',
 'Giorgio Armani',
 'Aesop',
 'Jane Austen',
 'Samuel Johnson',
 'Elie Wiesel',
 'John C. Maxwell',
 'Sydney J. Harris',
 'Hunter S. Thompson',
 'Jim Rohn',
 'Ram Dass',
 'Plutarch']

In [21]:
print(len(authorarray))

100