In [1]:
pip install pandas

Requirement already satisfied: pandas in ./anaconda3/lib/python3.10/site-packages (2.0.3)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in ./anaconda3/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./anaconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in ./anaconda3/lib/python3.10/site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install --upgrade selenium

Requirement already satisfied: selenium in ./anaconda3/lib/python3.10/site-packages (4.12.0)
Requirement already satisfied: certifi>=2021.10.8 in ./anaconda3/lib/python3.10/site-packages (from selenium) (2023.7.22)
Requirement already satisfied: trio~=0.17 in ./anaconda3/lib/python3.10/site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in ./anaconda3/lib/python3.10/site-packages (from selenium) (0.10.4)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in ./anaconda3/lib/python3.10/site-packages (from selenium) (1.26.15)
Requirement already satisfied: outcome in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in ./anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in ./anaconda3/lib/python3.10/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in ./anaconda3/lib/python3.10/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in ./anaconda3/lib/python3.10/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [28]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [32]:
driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

In [33]:
time.sleep(5)

notificationallow = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div/button")
notificationallow.click()

In [34]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/header[1]/div[3]/div/div/div[1]/div")
search.click()

In [35]:
designation = driver.find_element(By.ID,"id_q")
designation.send_keys('Data Analyst')

location = driver.find_element(By.ID,"id_loc")
location.send_keys('Bangalore')

searchclick = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
searchclick.click()

In [36]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [37]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')

for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
job_title

['Technical Data Analyst',
 'opening data analyst -Bangalore',
 'Data Entry Operator(data analyst work) REMOTE WORK',
 'Hiring For Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Mobility Data Analyst - IN/MKR',
 'Senior Data Analyst',
 'hiring for data entry analyst ( position data entry ) w ...',
 'hiring for data entry analyst ( position data entry ) w ...']

In [38]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
job_location

['Bangalore\n+9', 'Bangalore', 'Bangalore\n+9', '', '', '', '', '', '', '']

In [39]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
#company_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[1]/div[5]/div/div[1]/div[1]/div/div/div[2]/div[1]/div[1]/div[2]/span')

for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
company_name

['krishna consultancy.. hiring for co...',
 'provizor it services pvt. ltd.',
 'prime services..',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [40]:
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)
    
experience_required

['4 to 9 Yrs', '2 to 5 Yrs', '0 to 1 Yr', '', '', '', '', '', '', '']

In [41]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [42]:
# Making Dataframe
df = pd.DataFrame({'job_title':job_title, 'job_location':job_location, 'company_name':company_name, 'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,Technical Data Analyst,Bangalore\n+9,krishna consultancy.. hiring for co...,4 to 9 Yrs
1,opening data analyst -Bangalore,Bangalore,provizor it services pvt. ltd.,2 to 5 Yrs
2,Data Entry Operator(data analyst work) REMOTE ...,Bangalore\n+9,prime services..,0 to 1 Yr
3,Hiring For Data Analyst,,,
4,Senior Data Analyst,,,
5,Data Analyst,,,
6,Mobility Data Analyst - IN/MKR,,,
7,Senior Data Analyst,,,
8,hiring for data entry analyst ( position data ...,,,
9,hiring for data entry analyst ( position data ...,,,

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [44]:
driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

In [45]:
time.sleep(5)

#notificationallow = driver.find_element(By.CLASS_NAME,"btn btn-xs btn-secondary")
notificationallow = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div/button")
notificationallow.click()

In [48]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/header[1]/div[3]/div/div/div[1]/div")
search.click()


time.sleep(10)

designation = driver.find_element(By.ID,"id_q")
designation.send_keys('Data Scientist')

location = driver.find_element(By.ID,"id_loc")
location.send_keys('Bangalore')

searchclick = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
searchclick.click()

In [49]:
job_titles = []
job_locations = []
company_names = []

In [50]:
scientist_title = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')

for i in scientist_title[0:10]:
    title = i.text
    job_titles.append(title)
    
job_titles

['Data Scientist',
 'SR. DATA SCIENTIST',
 'Senior Data Scientist- ML Engineer',
 'Data Scientist III',
 'Data Scientist Hiring Fresher and Experience',
 'Opening for Computer executive, data typing , entry dat ...',
 'Data Scientist',
 'Senior Data Scientist, AWS',
 'Data Scientist Recruitment',
 'Data Engineer II, Amazon WFM Tech Enterprise Data']

In [51]:
scientist_location = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

for i in scientist_location[0:10]:
    location = i.text
    job_locations.append(location)
    
job_locations

['Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+17',
 'Bangalore\n+9',
 'Bangalore\n+6',
 'Bangalore',
 'Bangalore\n+17',
 'Bangalore']

In [52]:
scientist_company = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')

for i in scientist_company[0:10]:
    company = i.text
    company_names.append(company)
    
company_names

['the fashion cosmo',
 'te connectivity india pvt ltd',
 'sap india pvt ltd',
 'inmobi',
 'kavya staffing solutions',
 'realtech solutions',
 'quiscon biotech',
 'amazon',
 'kavya staffing solutions',
 'amazon']

In [56]:
print(len(job_titles),len(job_locations),len(company_names))

10 10 10

In [57]:
# Making Dataframe
df = pd.DataFrame({'job_title':job_titles, 'job_location':job_locations, 'company_name':company_names})
df

,job_title,job_location,company_name
0,Data Scientist,Bangalore,the fashion cosmo
1,SR. DATA SCIENTIST,Bangalore,te connectivity india pvt ltd
2,Senior Data Scientist- ML Engineer,Bangalore,sap india pvt ltd
3,Data Scientist III,Bangalore,inmobi
4,Data Scientist Hiring Fresher and Experience,Bangalore\n+17,kavya staffing solutions
5,"Opening for Computer executive, data typing , ...",Bangalore\n+9,realtech solutions
6,Data Scientist,Bangalore\n+6,quiscon biotech
7,"Senior Data Scientist, AWS",Bangalore,amazon
8,Data Scientist Recruitment,Bangalore\n+17,kavya staffing solutions
9,"Data Engineer II, Amazon WFM Tech Enterprise Data",Bangalore,amazon

In [53]:
scientist_experience = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

for i in scientist_experience[0:10]:
    experience = i.text
    experience_require.append(experience)
    
experience_require

['0 to 4 Yrs',
 '5 to 7 Yrs',
 '5 to 7 Yrs',
 '7 to 9 Yrs',
 '0 to 4 Yrs',
 '0 to 1 Yr',
 '0 to 1 Yr',
 '10 to 12 Yrs',
 '0 to 4 Yrs',
 '3 to 5 Yrs']

# Q3: In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter.

In [59]:
driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

In [60]:
time.sleep(5)

#notificationallow = driver.find_element(By.CLASS_NAME,"btn btn-xs btn-secondary")
notificationallow = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div/button")
notificationallow.click()

In [61]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/header[1]/div[3]/div/div/div[1]/div")
search.click()


time.sleep(10)

designation = driver.find_element(By.ID,"id_q")
designation.send_keys('Data Scientist')

searchclick = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
searchclick.click()

In [78]:
location_filter = driver.find_element(By.XPATH,'//*[@id="__next"]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[1]/button')
location_filter.click()

In [83]:
#select_location = driver.find_element(By.XPATH,'//*[@id="filter_jFLoc_406"]')
#select_location = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[8]/span/input')

select_location = driver.find_element(By.XPATH,'//input[@id="filter_jFLoc_406"]')

#select_location = driver.find_element(By.ID,'filter_jFLoc_406')
select_location.click()

ElementClickInterceptedException: Message: element click intercepted: Element <input class="styled-checkbox" id="filter_jFLoc_406" type="checkbox" name="location" readonly="" value="406"> is not clickable at point (476, 361). Other element would receive the click: <label class="filter_filter_option_label__v_iAW" for="filter_jFLoc_406">...</label>
  (Session info: chrome=117.0.5938.92)
Stacktrace:
#0 0x55b6f758a6b3 <unknown>
#1 0x55b6f72601e7 <unknown>
#2 0x55b6f72ad65d <unknown>
#3 0x55b6f72ab9fd <unknown>
#4 0x55b6f72a97b8 <unknown>
#5 0x55b6f72a8827 <unknown>
#6 0x55b6f729d4f9 <unknown>
#7 0x55b6f72c90c2 <unknown>
#8 0x55b6f729cf16 <unknown>
#9 0x55b6f72c928e <unknown>
#10 0x55b6f72e2322 <unknown>
#11 0x55b6f72c8e93 <unknown>
#12 0x55b6f729b934 <unknown>
#13 0x55b6f729c71e <unknown>
#14 0x55b6f754fcb8 <unknown>
#15 0x55b6f7553bf0 <unknown>
#16 0x55b6f755e19c <unknown>
#17 0x55b6f7554808 <unknown>
#18 0x55b6f752127f <unknown>
#19 0x55b6f7578e88 <unknown>
#20 0x55b6f7579059 <unknown>
#21 0x55b6f7589843 <unknown>
#22 0x7fd572f95609 start_thread

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: a. Brand b. Product Description c. Price d. Discount

In [1]:
driver = webdriver.Chrome()
driver.get("http://www.flipkart.com/")

NameError: name 'webdriver' is not defined

In [ ]:
time.sleep(5)

closepopup = driver.find_element(By.CLASS_NAME,"_30XB9F")
closepopup.click()

searchterms = driver.find_element(By.CLASS_NAME,"Pke_EE")
searchterms.send_keys('sunglasses')

search = driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [ ]:
sunglass_brand = []
sunglass_desc = []
sunglass_price = []
sunglass_discount = []

In [ ]:
start=0
end=3

for pages in range(start,end):
    brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

    for i in brand:
        brandvalue = i.text
        sunglass_brand.append(brandvalue)
        
    description = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

    for i in description:
        descvalue = i.text
        sunglass_desc.append(descvalue)
        
    price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

    for i in price:
        pricevalue = i.text
        sunglass_price.append(pricevalue)    
    
    discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

    for i in discount:
        brandvalue = i.text
        sunglass_discount.append(brandvalue)
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(15) 

sunglass_brand
sunglass_desc
sunglass_price
sunglass_discount

In [ ]:
print(len(sunglass_brand),len(sunglass_desc),len(sunglass_price),len(sunglass_discount))

In [ ]:
# Making Dataframe
df = pd.DataFrame({'Brand':sunglass_brand, 'Description':sunglass_desc, 'Price':sunglass_price, 'Discount':sunglass_discount})
df