In [29]:
from bs4 import BeautifulSoup
import requests

import selenium
import pandas as pd
#from selenium import webdriver
#import warnings
#warnings.filterwarnings('ignore')
#from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
#from selenium.webdriver.common.by import By
#mport time

# 1. Scrape the details of most viewed videos

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [14]:
#print(soup)

In [23]:
table = soup.find_all('table')[1]

In [15]:
#print(table)

In [24]:
world_titles = table.find_all('th')

#world_titles

In [25]:
world_table_titles = [title.text.strip() for title in world_titles[0:6]]

print(world_table_titles)

['No.', 'Video name', 'Uploader', 'Views (billions)', 'Publication date', 'Note']

In [8]:
df =  pd.DataFrame(columns = world_table_titles)
df

Empty DataFrame
Columns: [No., Video name, Uploader, Views (billions), Publication date, Note]
Index: []

In [9]:
column_data = table.find_all('tr')

In [20]:
for row in column_data[1:-1]:
    row_data = row.find_all('td')
    induvidual_row_data = [data.text.strip() for data in row_data]

    #print(induvidual_row_data)
    length = len(df)
    df.loc[length] = induvidual_row_data

df.sort_values(by=['Views (billions)'])

,No.,Video name,Uploader,Views (billions),Publication date,Note
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.48,"June 17, 2016",[A]
49,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.48,"June 17, 2016",[A]
79,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.48,"June 17, 2016",[A]
109,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.48,"June 17, 2016",[A]
19,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.48,"June 17, 2016",[A]
...,...,...,...,...,...,...
170,2.,"""Despacito""[9]",Luis Fonsi,8.28,"January 12, 2017",[B]
1,2.,"""Despacito""[9]",Luis Fonsi,8.28,"January 12, 2017",[B]
140,2.,"""Despacito""[9]",Luis Fonsi,8.28,"January 12, 2017",[B]
20,2.,"""Despacito""[9]",Luis Fonsi,8.28,"January 12, 2017",[B]
110,2.,"""Despacito""[9]",Luis Fonsi,8.28,"January 12, 2017",[B]

In [30]:
df.to_csv(r'/home/webepower/Downloads/DataTrained/Assignment/smartphonedate.csv', index=False)

# Q2: Scrape the details team India‚Äôs international fixtures from bcci.tv.

In [6]:
time.sleep(5)

closepopup = driver.find_element(By.CLASS_NAME,"_30XB9F")
closepopup.click()

searchterms = driver.find_element(By.CLASS_NAME,"Pke_EE")
searchterms.send_keys('sunglasses')

search = driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [7]:
sunglass_brand = []
sunglass_desc = []
sunglass_price = []
sunglass_discount = []

In [8]:
start=0
end=3

for pages in range(start,end):
    brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

    for i in brand:
        brandvalue = i.text
        sunglass_brand.append(brandvalue)
        
    description = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

    for i in description:
        descvalue = i.text
        sunglass_desc.append(descvalue)
        
    price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

    for i in price:
        pricevalue = i.text
        sunglass_price.append(pricevalue)    
    
    discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

    for i in discount:
        brandvalue = i.text
        sunglass_discount.append(brandvalue)
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(15) 

#sunglass_brand
#sunglass_desc
#sunglass_price
#sunglass_discount

['76% off',
 '69% off',
 '88% off',
 '87% off',
 '30% off',
 '30% off',
 '73% off',
 '62% off',
 '75% off',
 '84% off',
 '74% off',
 '69% off',
 '73% off',
 '77% off',
 '86% off',
 '69% off',
 '76% off',
 '69% off',
 '77% off',
 '30% off',
 '70% off',
 '80% off',
 '30% off',
 '30% off',
 '70% off',
 '64% off',
 '69% off',
 '62% off',
 '77% off',
 '30% off',
 '65% off',
 '71% off',
 '60% off',
 '77% off',
 '63% off',
 '67% off',
 '82% off',
 '71% off',
 '88% off',
 '30% off',
 '62% off',
 '64% off',
 '30% off',
 '87% off',
 '88% off',
 '30% off',
 '73% off',
 '65% off',
 '30% off',
 '86% off',
 '72% off',
 '52% off',
 '79% off',
 '84% off',
 '84% off',
 '30% off',
 '73% off',
 '73% off',
 '30% off',
 '78% off',
 '70% off',
 '72% off',
 '70% off',
 '83% off',
 '85% off',
 '79% off',
 '67% off',
 '65% off',
 '79% off',
 '80% off',
 '67% off',
 '67% off',
 '62% off',
 '77% off',
 '90% off',
 '58% off',
 '67% off',
 '67% off',
 '69% off',
 '88% off',
 '76% off',
 '69% off',
 '88% off',
 '87% off',
 '30% off',
 '30% off',
 '73% off',
 '62% off',
 '75% off',
 '84% off',
 '74% off',
 '69% off',
 '73% off',
 '77% off',
 '86% off',
 '69% off',
 '76% off',
 '69% off',
 '77% off',
 '30% off',
 '70% off',
 '69% off',
 '30% off',
 '30% off',
 '70% off',
 '64% off',
 '80% off',
 '62% off',
 '77% off',
 '30% off',
 '65% off',
 '71% off',
 '60% off',
 '77% off',
 '63% off',
 '67% off',
 '77% off',
 '82% off',
 '88% off',
 '30% off']

In [16]:
print(len(sunglass_brand),len(sunglass_desc),len(sunglass_price),len(sunglass_discount))

120 120 120 120

In [17]:
# Making Dataframe
df = pd.DataFrame({'Brand':sunglass_brand, 'Description':sunglass_desc, 'Price':sunglass_price, 'Discount':sunglass_discount})
df = df.head(100)
df

,Brand,Description,Price,Discount
0,VINCENT CHASE,UV Protection Wayfarer Sunglasses (59),‚Çπ479,76% off
1,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",‚Çπ609,69% off
2,SRPM,UV Protection Wayfarer Sunglasses (50),‚Çπ149,88% off
3,Elligator,"UV Protection Aviator, Wayfarer Sunglasses (54)",‚Çπ159,87% off
4,Fastrack,UV Protection Wayfarer Sunglasses (58),‚Çπ769,30% off
...,...,...,...,...
95,Rich Club,UV Protection Retro Square Sunglasses (54),‚Çπ399,69% off
96,ROYAL SON,Mirrored Aviator Sunglasses (58),‚Çπ359,76% off
97,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",‚Çπ609,69% off
98,cleardekho,UV Protection Cat-eye Sunglasses (Free Size),‚Çπ374,77% off
99,Fastrack,UV Protection Aviator Sunglasses (58),‚Çπ979,30% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

In [4]:
driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [19]:
review_summary = []
product_rating = []
review_description = []

In [20]:
start=0
end=10

for pages in range(start,end):
    rating = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

    for i in rating:
        ratingvalue = i.text
        review_summary.append(ratingvalue)
        
    reviewdesc = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')

    for i in reviewdesc:
        descvalue = i.text
        review_description.append(descvalue)
        
    rating = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

    for i in rating:
        ratingvalue = i.text
        product_rating.append(ratingvalue)

    product_rating

    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(15)

print(len(product_rating), len(review_summary), len(review_description))

100 100 100

In [15]:
print(len(product_rating))

100

In [21]:
# Making Dataframe
df = pd.DataFrame({'Raring':product_rating, 'Review Summary':review_summary, 'Review Desc':review_description})
df

   Raring     Review Summary                      Review Desc
0       5          Brilliant                 Excellent Phone.
1       5          Fabulous!  Superüî• and good performance üëå‚ù§Ô∏è
2       5             Super!      Good product üëåI love iPhone
3       5   Perfect product!                       V Good all
4       5      Great product                   Purple is best
..    ...                ...                              ...
95      5     Classy product                     Photos super
96      5          Just wow!                Perfect Product!!
97      5          Must buy!              It‚Äôs really awesome
98      5          Wonderful           This is amazing at all
99      5  Terrific purchase                Value for money üòç

[100 rows x 3 columns]

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for ‚Äúsneakers‚Äù in the search field

In [19]:
driver = webdriver.Chrome()
driver.get("http://www.flipkart.com/")

In [20]:
time.sleep(5)

closepopup = driver.find_element(By.CLASS_NAME,"_30XB9F")
closepopup.click()

searchterms = driver.find_element(By.CLASS_NAME,"Pke_EE")
searchterms.send_keys('sneakers')

search = driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [21]:
sneaker_brand = []
sneaker_desc = []
sneaker_price = []

In [25]:
start=0
end=3

for pages in range(start,end):
    brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

    for i in brand:
        brandvalue = i.text
        sneaker_brand.append(brandvalue)
        
    description = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

    for i in description:
        descvalue = i.text
        sneaker_desc.append(descvalue)
        
    price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

    for i in price:
        pricevalue = i.text
        sneaker_price.append(pricevalue)    
    
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(15)
    
    
print(len(sneaker_brand),len(sneaker_desc),len(sneaker_price))

240 237 240

In [27]:
# Making Dataframe
df = pd.DataFrame({'Raring':sneaker_brand, 'Review Summary':sneaker_desc, 'Review Desc':sneaker_price})
df = pd.head(100)
df

ValueError: All arrays must be of the same length

# Q7: Go to webpage https://www.amazon.in/ Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon. Then set CPU Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image:

Waiting for solution

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.

In [4]:
driver = webdriver.Chrome()
driver.get("https://www.azquotes.com/")

In [5]:
time.sleep(5)

clicktopquotes = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
clicktopquotes.click()

In [6]:
quotearray = []
authorarray = []
quotetypearry = []

In [11]:
start=0
end=9

for pages in range(start,end):
    quotes = driver.find_elements(By.XPATH,'//a[@class="title"]')

    for i in quotes:
        quotevalue = i.text
        quotearray.append(quotevalue)
        
    authors = driver.find_elements(By.XPATH,'//div[@class="author"]')

    for i in authors:
        authorvalue = i.text
        authorarray.append(authorvalue)
        
    types = driver.find_elements(By.XPATH,'//div[@class="tags"]')

    for i in types:
        typevalue = i.text
        quotetypearry.append(typevalue)
    
    next_button = driver.find_element(By.XPATH, '//li[@class="next"]')
    next_button.click()
    time.sleep(15)
    
    
print(len(quotearray),len(authorarray),len(quotetypearry))

1200 1200 1200

In [12]:
# Making Dataframe
df = pd.DataFrame({'Quotes':quotearray, 'Authors':authorarray, 'Type Of Quotes':quotetypearry})
df = df.head(1000)
df

,Quotes,Authors,Type Of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,All things are difficult before they are easy.,Thomas Fuller,"Inspirational, Motivational, Positive"
996,People ask the difference between a leader and...,Theodore Roosevelt,"Leadership, Differences, People"
997,"The thing that is really hard, and really amaz...",Anna Quindlen,"Confidence, Letting Go, Being Yourself"
998,Love is the ability and willingness to allow t...,Wayne Dyer,"Love, Anxiety, Self Improvement"
999,"Sooner or later, those who win are those who t...",Paul Tournier,"Positive, Sports, Confidence"