# Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame-

In [13]:
#!pip install bs4
#!pip install requests

from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [23]:
# providing url
url = "https://www.cnbc.com/world/?region=world"
  
# creating requests object
html = requests.get(url).content
  
# creating soup object
data = BeautifulSoup(html, 'html.parser')
  
# finding parent <ul> tag
parent = data.find("body").find("ul")
  
# finding all <li> tags
text = list(parent.descendants)
  
# printing the content in <li> tag
#print(text)
for i in range(2, len(text), 2):
    print(text[i], end=" ")

Pre-Markets <a class="nav-menu-subLink" href="/us-markets/" tabindex="-1">U.S. Markets</a> <li data-text="Europe Markets"><a class="nav-menu-subLink" href="/markets-europe/" tabindex="-1">Europe Markets</a></li> Europe Markets <a class="nav-menu-subLink" href="/china-markets/" tabindex="-1">China Markets</a> <li data-text="Asia Markets"><a class="nav-menu-subLink" href="/markets-asia-pacific/" tabindex="-1">Asia Markets</a></li> Asia Markets <a class="nav-menu-subLink" href="/world-markets/" tabindex="-1">World Markets</a> <li data-text="Currencies"><a class="nav-menu-subLink" href="/currencies/" tabindex="-1">Currencies</a></li> Currencies <a class="nav-menu-subLink" href="/cryptocurrency/" tabindex="-1">Cryptocurrency</a> <li data-text="Futures &amp; Commodities"><a class="nav-menu-subLink" href="/futures-and-commodities/" tabindex="-1">Futures &amp; Commodities</a></li> Futures & Commodities <a class="nav-menu-subLink" href="/bonds/" tabindex="-1">Bonds</a> <li data-text="Funds &amp; ETFs"><a class="nav-menu-subLink" href="/funds-and-etfs/" tabindex="-1">Funds &amp; ETFs</a></li> Funds & ETFs

In [20]:
# importing the modules
import requests
from bs4 import BeautifulSoup
  
# providing url
url = 'https://www.cnbc.com/world/?region=world'
  
# creating request object
req = requests.get(url)
  
# creating soup object
data = BeautifulSoup(req.text, 'html')
  
# finding all li tags in ul and printing the text within it
data1 = data.find('ul')
for li in data1.find_all("li"):
    print(li.text, end=" ")

Pre-Markets U.S. Markets Europe Markets China Markets Asia Markets World Markets Currencies Cryptocurrency Futures & Commodities Bonds Funds & ETFs

In [21]:
page = requests.get('https://www.cnbc.com/world/?region=world')
soup = BeautifulSoup(page.content)
#print(soup.prettify())

#findtable = soup.find('table')
findtable = soup.find('ul', {'class': 'LatestNews-list'})

# Getting all rows
data = []
for row in findtable.find_all('ul'):
    row_data = []
    for cell in row.find_all('li'):
        row_data.append(cell.text)
    data.append(row_data)

data

[]

# B) Top 10 womenâ€™s ODI Batting players along with the records of their team and rating.

In [5]:
page2 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup2 = BeautifulSoup(page2.content)
#print(soup2.prettify())

#findtable = soup2.find('table')
batsmanTable = soup2.find('table', {'class': 'table rankings-table'})


# Getting all rows
batsmandata = []
for i in batsmanTable.find_all('tr'):
    bman_data = []
    for cell in i.find_all('td'):
        bman_data.append(cell.text.replace("\n", ""))
    batsmandata.append(bman_data)

#batsmandata

In [6]:
# Making Dataframe
my_df = pd.DataFrame(batsmandata)

my_df.drop(columns=[my_df.columns[4]], inplace=True)
my_df.drop(index=my_df.index[0], axis=0, inplace=True)

my_df.columns = ['Pos', 'Player Name', 'TEam', 'Rating']
my_df = my_df.head(10)
my_df

,S. No,Player Name,TEam,Rating
1,1 ...,Natalie Sciver-Brunt,ENG,801
2,2 ...,Beth Mooney,AUS,751
3,3 ...,Chamari Athapaththu,SL,743
4,4 ...,Laura Wolvaardt,SA,708
5,= ...,Smriti Mandhana,IND,708
6,6 ...,Alyssa Healy,AUS,702
7,7 ...,Harmanpreet Kaur,IND,694
8,8 ...,Ellyse Perry,AUS,686
9,9 ...,Meg Lanning,AUS,682
10,10 ...,Stafanie Taylor,WI,618

# c) Top 10 womenâ€™s ODI all-rounder along with the records of their team and rating.

In [7]:
page3 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling')
soup3 = BeautifulSoup(page3.content)
#print(soup2.prettify())

bowlerTable = soup3.find('table', {'class': 'table rankings-table'})


# Getting all rows
bowlerdata = []
for i in bowlerTable.find_all('tr'):
    bowl_data = []
    for cell in i.find_all('td'):
        bowl_data.append(cell.text.replace("\n", ""))
    bowlerdata.append(bowl_data)

#bowlerdata

In [8]:
# Making Dataframe
bowler_df = pd.DataFrame(bowlerdata)

bowler_df.drop(columns=[bowler_df.columns[4]], inplace=True)
bowler_df.drop(index=bowler_df.index[0], axis=0, inplace=True)

bowler_df.columns = ['Pos', 'Bowler Name', 'TEam', 'Rating']
bowler_df = bowler_df.head(10)
bowler_df

,S. No,Bowler Name,TEam,Rating
1,1 ...,Sophie Ecclestone,ENG,761
2,2 ...,Shabnim Ismail,SA,708
3,3 ...,Jess Jonassen,AUS,682
4,4 ...,Ashleigh Gardner,AUS,673
5,5 ...,Megan Schutt,AUS,666
6,6 ...,Hayley Matthews,WI,662
7,7 ...,Kate Cross,ENG,660
8,8 ...,Ayabonga Khaka,SA,646
9,9 ...,Deepti Sharma,IND,607
10,10 ...,Rajeshwari Gayakwad,IND,599